/* Define colors */

:root {
  --color-primary: #36498e;
  --color-complement: #631d22;
  --color-text: #413f3f;
  --color-heading: #9b9aa4;
  --color-card: #e5e9eb;
  --color-background: #f9fafc;
  --color-gradient: linear-gradient(
    to right,
    #992d35,
    #8b272f,
    #7e2129,
    #711c24,
    #64161e
  );
}

/* Define fonts */

@font-face {
  font-family: "Lucida_Grande";
  src: local("Lucida_Grande"),
    url(./assets/claim_it/fonts/lucida-grande/Lucida_Grande.ttf)
      format("truetype");
}

@font-face {
  font-family: "DINBold";
  src: local("DINBold"),
    url(./assets/claim_it/fonts/din/DINBold.ttf) format("truetype");
}

/* Styles */

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "DINBold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-background);
}

.title {
  padding-left: 10px;
  padding-top: 75px;
  font-size: 35px;
  color: var(--color-primary);
}

.subtitle {
  font-size: 20px;
  color: var(--color-text);
}

.items_aligned {
  display: flex;
  align-items: center;
}

.card_main {
  padding: 40px;
}

.card_1 {
  background-color: var(--color-card);
  padding: 40px;
  border-radius: 25px 25px 0 0;
}

.card_2 {
  padding: 40px 0 20px 10px;
}

.card_title {
  font-size: 30px;
  color: var(--color-complement);
}

.card_title_2 {
  font-size: 30px;
  color: var(--color-text);
}

.card_subtitle {
  font-size: 20px;
  color: var(--color-heading);
}

.list_1 {
  font-size: 13px;
  color: var(--color-heading);
  padding-left: 15px;
}

.list_2 {
  font-size: 12px;
  color: var(--color-heading);
  padding-left: 0;
}

ul {
  list-style: none;
}

ul li:before {
  content: "✓ ";
}

li {
  margin: 10px 0;
}

.list_span {
  padding-left: 10px;
}

.solid {
  border-top: 1px solid #bbb;
}

.scan_button {
  background-color: var(--color-complement);
  background-image: url(./assets/claim_it/icons/qrcode.svg);
  background-repeat: no-repeat;
  background-position: 90% 50%;
  border-radius: 30px;
  color: white;
  padding: 15px 80px 10px 80px;
  text-align: center;
  font-family: "Lucida_Grande";
  outline: 0 !important;
}

.link {
  background-color: transparent;
  background-image: url(./assets/claim_it/icons/open.svg);
  background-repeat: no-repeat;
  background-position: 10% 0%;
  border-radius: 30px;
  border-color: transparent;
  color: black;
  padding: 0 60px 10px 60px;
  text-align: center;
  font-family: "Lucida_Grande";
  font-size: 14px;
  white-space: nowrap;
}

.button_div {
  text-align: center;
  padding-top: 20px;
}

.items_aligned_identity {
  display: flex;
  align-items: center;
}

.title_identity {
  padding-left: 10px;
  padding-top: 30px;
  font-size: 30px;
  color: var(--color-primary);
}

.identity_text {
  color: var(--color-heading);
  font-size: 25px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.identity_text_scan {
  color: var(--color-heading);
  font-size: 15px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.card_identity {
  background-color: var(--color-card);
  padding: 20px;
  border-radius: 25px;
}

.card_identity_2 {
  padding: 20px;
}

.card_title_identity_2 {
  font-size: 25px;
  color: var(--color-text);
}

.card_p_identity_2 {
  font-size: 16px;
  color: var(--color-text);
}

.retry_button {
  background-color: var(--color-complement);
  border-radius: 30px;
  color: white;
  padding: 15px 80px 10px 80px;
  text-align: center;
  font-family: "Lucida_Grande";
  outline: 0 !important;
}

.identity_textResult {
  color: var(--color-heading);
  font-size: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.divider {
  border-top: 1px solid var(--color-heading);
}

.card_titleResult {
  font-size: 25px;
  color: var(--color-complement);
}

.cardResult {
  background-color: var(--color-card);
  padding: 30px;
  border-radius: 25px;
}

.launch {
  white-space: nowrap;
}

/* Media queries */

@media screen and (max-width: 576px) {
  .items_aligned {
    display: inline;
  }

  .card_title {
    margin-top: 20px;
  }

  .card_subtitle {
    margin-top: 20px;
  }

  .title {
    padding-left: 0;
    padding-top: 30px;
    font-size: 35px;
    color: var(--color-primary);
  }

  .subtitle {
    font-size: 18px;
  }

  .main {
    padding: 20px;
  }

  .card_main {
    padding: 0;
  }

  .card_1 {
    padding: 30px;
    height: 350px;
    border-radius: 25px;
  }

  .card_2 {
    display: none;
  }

  .list_span {
    padding-left: 5px;
    padding-top: 30px;
    font-size: 16px;
  }

  .list_1 {
    margin-top: 60px;
  }

  .scan_button {
    position: relative;
    left: 0;
    margin-top: 50px;
    width: 100%;
  }

  .retry_button {
    position: relative;
    left: 0;
    margin-top: 20px;
    width: 100%;
  }

  .solid {
    display: none;
  }

  .link {
    padding: 20px 60px 10px 60px;
    white-space: nowrap;
    background-position: 5% 70%;
  }

  .placeholder {
    height: 150px;
  }

  .scan_vehicule_img {
    height: 150px;
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .triangle {
    width: 0;
    height: 0;
    border-top: 100px solid var(--color-primary);
    border-left: 100px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
  }
}
